<h1>A test example for the erubis_rails_helper.</h1>
<p>This is to be used a test to see Erubis and Rails are working together.</p>


<h2>Things to show that work</h2>
<ul>
	<li>erubis examples</li>
	<li>form_for</li>
	<li>link_to</li>
</ul>

<h3>form_tag example</h3>
<p>
	<% form_tag({:controller => "welcome", :action => "index"}, {:method => :get}) do %>
		Field 1: <%=text_field_tag(:field_1, nil, :class=> "field", :tabindex => 1)%>
		Field 2: <%=text_field_tag(:field_2, nil, :class=>"field", :id=>"field_2", :tabindex => 2)%>
		<%=submit_tag("submit for form_tag")%>
	<% end %>
</p>
<h3>form_for example</h3>
<p>
	<% form_for :test_model, @test_model, :url => {:controller => "welcome", :action => "index"}, :html => {:id => 'form_for_example'} do |f| -%>
		Field 1:</label> <%=f.text_field 'field_1', :size => 26 %>
		<label>Field 2:</label> <%=f.text_field 'field_2', :size => 26 %>
		<%=submit_tag("submit for form_for")%>
	<% end %>
</p>

<h3>link_to example</h3>
<p>
	<%= link_to('link to welcome page', :action => 'index') %>
</p>

<h3>erubis examples</h3>
<p>
	<ul>
	  <% 1.upto(10) do |item| %>
		<li><%= item %></li>
	  <% end %>
	  <%# here is ignored because starting with '#' %>
	</ul>
</p>
<br />
<br />
<br />
<br />
<% "testing trimming" -%>
was there an end of line?